.my-2 {
  background-color: #82f3ff;
}

* {
  background-color: #f5efff;
  text-align: center;
}

p {
  color: #4a8990;
  position: absolute;
  bottom: 0;
  left: 0
}

.center-image {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.apartment-index-cards {
  padding: 20px;

}

.card-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: 0 auto
}

.card-item {
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}